body {
  background-color: white;
}

h2 {
  text-align: center;
  color: black;
}

#artist-dir {
    text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  margin-top: 100px;
  margin: 0 auto;
  width: 75%;
}

input[type="text"] {
    width: 80%;
    padding: 5px;
}
