#container {
  margin-top: 50px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

#search-container {
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #e6e6e6;
  border-radius: 5px;
  margin: 0 auto;
  width: 30%;
}

input[type="text"] {
  width: 80%;
  padding: 5px;
  margin-bottom: 20px;
  border-color: #e6e6e6;
  border-radius: 5px;
  border-width: thin;
}

.artist-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 25%;
  margin-top: 0px;
}

img {
  float: left;
  border-radius: 5px;
  margin-right: 10px;
}

.artists {
  border-style: solid;
  border-width: thin;
  border-color: #e6e6e6;
  padding: 20px;
  display: flex;
  align-items: center;
}

.artists:hover {
  background-color:#f2f2f2;
}

.artist-name {
  display: block;
  font-size: 20px;
  font-family: 'EB Garamond', serif;
}

.artist-school {
  display: block;
  font-family: 'EB Garamond', serif;
}