#container {
    margin-top: 50px;
  }
  
  /* h1 {
    font-family: 'Oswald', sans-serif;
  } */
  
  #search-container {    
    font-family: 'Oswald', sans-serif;
    text-align: center;
    border: thin solid #e6e6e6;
    border-radius: 5px;
    margin: 0 auto;
    width: 35%;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: thin solid #e6e6e6;
  }
  
  button {
    padding: 5px;
    font: 14px 'Oswald', sans-serif;
    border-radius: 5px;
    border: thin solid #e6e6e6;
    background-color:#f2f2f2;
  }